<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.regal.dreamtri">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <application
            android:icon="@drawable/ic_launcher_regal"
            android:label="@string/dreamtri_activity"
            android:debuggable="true"
            >
        <activity android:name="DreamtriActivity"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            	android:launchMode="singleTask"
            	android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-feature android:glEsVersion="0x00020000"/>
    <uses-sdk android:minSdkVersion="16"/>
</manifest>
